# Oppsett for prosjektet
.env
.github/
.gitignore
.nais/
.pre-commit-config.yaml
Dockerfile
bob.svg
justfile
ruff.toml
tests/

# Cache mapper
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Virtueltmiljø
.venv/
